#yourimage
{
    width:200px;
    height: 100px;
}
#swatches {
		width: 200px;
		height: 100px;
        display: inline-block;
       
        overflow: scroll;	
	}
.swatch {
		width:200px;
		height: 200px;
		border-style:solid;
		border-width:thin;	
		margin-right: 3px;	
        float: left;
        margin: 3px 3px 3px 3px;
        border-color: red;
	}
.upImg
{
    width: 200px;
    height: 100px;
}

#sendButton{
    width: 200px;
    height: 100px;
}

#detailsPhoto{
    float: left;
    box-sizing: border-box;
}

.detailsPhoto{
    display: flex;
}
